article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }



#map-canvas{
  height: 100vh;
  width: 50%;
  float: left;
 
}

body{
  font-family: 'Avenir Next', sans-serif;
}



.topNav{
  // position: fixed;
  z-index: 1;
  width: 100%;
  background:#8C91C9;
  color: #222;
  font-family: 'Avenir Next', sans-serif;
  letter-spacing: 1.5px;
  font-size: 16px;
  .logo{
    .logoTop{
      margin:0;
      float: left;
      padding:0 20px;
      font-size: 50px;
      &:hover{
        color: rgba(255,255,255,0.5); 
      }
    }
  }
  .menu{
  
    padding:15px 35px;
    font-size: 25px;
    .navicon{
      float: right;
      margin:0;
      &:hover{
        color: rgba(255,255,255,0.5);
      }
    }
    .dropDown{
      display: none;
      background:#656B99;
      margin:0;
      padding: 0;
      position: absolute;
      font-size: 16px;
      text-align: center;
      padding:10px;
      width: 100%;
      z-index: 9;
      right: 0;
      top: 68px;
      li{
        display:inline-block;
        list-style: none;
        padding:10px 100px;
      }
    }
  } 
}

.hero{
  background: url('coffeeHero.jpg');
  height: 90vh;
  width: 100%;
  background-size:cover;

}

.shops{
  float: right;
  width: 50%;
  height: 100vh;
  overflow: scroll;
}

.coffeeShops{
  text-align:right;
  color: #222;
  padding:25px;
  margin:0;
  font-family: 'Avenir Next', sans-serif;
  &:nth-child(2n){
    background: rgba(140,145,201, 0.5);
  }
}

.whereTo{
  width: 100%;
}

.question{
  padding: 20px;
  position: absolute;
  top:60%;
  left: 50%;
  transform: translateX(-50%);
 
    .destInput{
      width: 400px;
      outline: none;
      padding: 20px;
      border: none;
      border-radius: 2px;
      background: white;
    }
    .submitButton{

      padding: 20px;
      border-radius: 2px;
      border:none;
      background: #222;
      color: white;
      text-decoration: none;
    }
}

.about{
  display: none;
  position: absolute;
  background: #222;
  color: rgba(255,255,255,0.8);
  width: 100%;
  height: 90vh;
  z-index: 10;
  .close{
    float: right;
    padding:5px 10px;
    margin: 40px;
    border:3px solid rgba(255,255,255,0.8);
    border-radius: 50%;
  }
  
  .innerWrapper{
    padding: 60px 30px;
    position: absolute;
    width: 30%;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    .logo{
      font-size: 50px;
      font-weight: normal;
    }
    h2{
      font-size:30px;
      font-weight: normal;
      margin-top: 0;
    }
    p{
      font-size: 20px;
      font-weight: lighter;
    }
    
  }
}

@media(max-width: 1072px){
  .question{
    top: 40%;
    .destInput{
      width: 400px;
      margin-bottom: 20px;
    }
    .submitButton{
      width: 400px;

    }
  }
  .about{
    .innerWrapper{
      width: 50%;
    }
  }
}

